<!--
    COMP229-401 Fall 2022
    Assignment 2 - Express Portfolio – Authentication 
    Date: October 21, 2022

    Author: Junesik (Tony) Han
    Student #: 301252900

    Filename: home.ejs
-->
<div class="container">
    <h1><%= title %></h1>
    <div class="intro">
        <p>Welcome to my comp229 assignment 1 of fall 2022 semester.
            The goal of this assignment is to create personal portfolio website using ExpressJS.
            On this website you can find information about myself, my previous projects, services I offer, and my contact information.</p>
    </div>
    <div class="homePic">
        <a href="/about"> <img src="./content/images/profilepic.png" alt="profile picture" width=40% height="450" ></a>
        <p>Click the picture above to know more about me!</p>
    </div>
</div>