<!--
    COMP229-401 Fall 2022
    Assignment 2 - Express Portfolio – Authentication 
    Date: October 21, 2022

    Author: Junesik (Tony) Han
    Student #: 301252900

    Filename: projects.ejs
-->
<div class="container">
    <h1><%= title %></h1>
    <p class="centertext">(They are from previous web design course COMP125)</p>
    <div>
        <div>
            <h3 class="p1">Project 1: BMR Calculator</h3>
            <img src="./content/images/project1.jpg" alt="project 1 picture" class="center">
            <br>
            <p class="projecttext">
                A calorie intake calculator based on the Harris-Benedict equation used by nutritionists and health professionals to determine the daily energy needs based on age, sex, height, weight and level of physical activity.
            </p>
            <p class="projecttext">
                Can calculate both in metric and imperial units.
            </p>
            <br>
        </div>
        <div>
            <h3 class="p2">Project 2: Bug Smasher</h3>
            <img src="./content/images/project2.jpg" alt="project 2 picture" class="center">
            <br>
            <p class="project2text">
                The bug hops randomly around the game area at a given interval. The player tries to catch the bug by clicking on it. If he succeeds, the score is incremented and the hopping interval is decremented  by a number of milliseconds, so it gets harder to catch the bug.
                If the game becomes too challenging, the payer can reset the speed to the initial hopping interval by clicking the Reset Speed button.
                If the player wants, he can start again by resetting the score by clicking the Reset Score button.
            </p>
            <br>
        </div>
        <div>
            <h3 class="p3">Project 3: Photo Gallery</h3>
            <img src="./content/images/project3.jpg" alt="project 3 picture" class="center">
            <br>
            <p class="project3text">
                Users can browse through pictures by clicking the arrow buttons. 
                After certain time the picture in the center will change to the picture that was on the right of center picture.
                When the user clicks on a picture and it opens a window containing a zoomed version of the image, give user a hyperlink (button) to add the pic to a favorites area at the bottom of the first page.
                A maximum of 5 pics can be added to the favorites. After that a message is displayed to remove at least a favorite first.
                If the user clicks on a favorite, a Remove link (button) shows up next to that picture. If the user clicks it, the pic is removed from the favorites.
            </p>
            <br>
            <p class="p3text">Click on picture and add to favourites</p>
            <img src="./content/images/project3p2.jpg" alt="project 3 picture" class="center">
            <br>
            <p class="p3text">Now the picture shows up in favourite section</p>
            <img src="./content/images/project3p3.jpg" alt="project 3 picture" class="center"> 
        </div>
    </div>
</div>