<!--
    COMP229-401 Fall 2022
    Assignment 2 - Express Portfolio – Authentication 
    Date: October 21, 2022

    Author: Junesik (Tony) Han
    Student #: 301252900

    Filename: services.ejs
-->
<div class="container">
    <h1><%= title %></h1>
    <div class="serviceContainer">
        <div style="text-align:center">
            <h2>General Programming Help</h2>
        </div>
        <div class="row">
            <div class="column">
                <img src="./content/images/programming.jpg" style="width:100%">
            </div>
            <div class="column">
                <h4>Languages I can program in: </h4>
                <li class="listtext">
                    <img src="./content/images/python.png" class="language">
                    Python
                </li>
                <li class="listtext">
                    <img src="./content/images/java.png" class="language">
                    Java
                </li>
                <li class="listtext">
                    <img src="./content/images/c.png" class="language">
                    C
                </li>
                <li class="listtext">
                    <img src="./content/images/cs.png" class="language">
                    C#
                </li>
                <li class="listtext">
                    <img src="./content/images/html.png" class="language">
                    HTML
                </li>
                <li class="listtext">
                    <img src="./content/images/css.png" class="language">
                    CSS
                </li>
                <li class="listtext">
                    <img src="./content/images/js.png" class="language">
                    Javascript
                </li>
            </div>
        </div>
    </div>
</div>